[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pre-commit = "*"
requests = "*"
pymongo = "*"
python-dotenv = "*"
pudb = "*"

[dev-packages]

[requires]
python_version = "3.10"
