<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SpaceengineersSocialFrontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link integrity="" rel="stylesheet" href="static/styles/spaceengineers-social-frontend.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div>
      <a href="https://spaceengineers.social" target="_blank">
        <img src="static/images/logos/se_hires_logo_color_trans_bg.svg" class="logo" alt="Vite logo" />
      </a>
    </div>
    <h1 class="title_big">
      <span class="material-icons md-18 sub inline_icon">check_box_outline_blank</span>Kill Boards
      <span class="material-icons md-18 sub inline_icon">check_box_outline_blank</span>Shared Stats
      <span class="material-icons md-18 sub inline_icon">check_box_outline_blank</span>Fleet & Logistical Planning
      <span class="material-icons md-18 sub inline_icon">check_box_outline_blank</span>Real Time Map
    </h1>
    <div class="card">
    <div class="card_menu_bar_root">
      <div class="card_menu_title mono">
        Powered By UNAR-OS
      </div>
      <div class="card_menu_control_applet">
        <span class="material-icons md-24 md-dark button">remove</span>
        <span class="material-icons md-24 md-dark button">fullscreen</span>
        <span class="material-icons md-24 md-dark button">close</span>
      </div>
    </div>
      <div class="card_content">
        <div class="card_content_header">
          <h4 class="card_content">
            <span class='sub'>U</span>nified <span class='sub'>N</span>avigation & <span class='sub'>R</span>econ <span class='sub'>O</span>perating <span class='sub'>S</span>ystem
          </h4>
        </div>
        <span class='sub'>UNAR-OS</span> Bridges the gap between Space Engineers and various external systems allowing direct access to a number of ingame systems, and features. The project is maintained as an Open Source client side plugin and therefor is available for code review.
      </div>
    </div>
  </body>
</html>
